<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 class="text-center index-h1">
                Form
            </h1>
            <hr class="home-hr"/>
            <form action="/form" method="post">
                <div class="row">

                    <div class='col-3'>
                        <h3>
                            Title
                        </h3>
                    </div>
                    <div class='col-9'>
                        <input type="text" name="title" class="title-input">
                    </div>

                    </div>

                    <div class="row">
                    <div class='col-3'>
                        <h3>
                            Snippet
                        </h3>
                    </div>
                    <div class='col-9'>
                        <input type="text" name="snippet" class="snippet-input">
                    </div>
                    </div>

                    <div class="row">
                    <div class='col-3'>
                        <h3>
                            Body
                        </h3>
                    </div>
                    <div class='col-9'>
                        <textarea name="body" class="body-input"></textarea>
                    </div>
                </div>
                <button class="button-submit">Create</button>

            </form>
            
        </div>
        <div class="col-3"></div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>