<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="home-div">
        <h1 class="text-404">Oops Page not Found</h1>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>
</html>