<nav class="row">
    <div class="row">
        <div class="icon-container col-4">
            <h1 class="nav-h1">Tafadzwa Chiripanyanga</h1>
        </div>

        <div class="a-tags row col-6">
            <a href="/" class="col-3" id="nav-a">Home</a>
            <a href="/about" class="col-3" id="nav-a">About</a>
            <a href="/blogs" class="col-3" id="nav-a">Blogs</a>
            <a href="/form" class="col-3" id="nav-a">New Blog</a>
        </div>
    </div>
</nav>