<div class="nav">
    <div class="nav-container">

   
        <div class="nav text-decoration-none">
            <a href="/">Home</a>
        </div>
        <div class="nav text-decoration-none">
            <a href="/about">About</a>
        </div>
        <div class="nav text-decoration-none">
            <a href="/blogs">Blogs</a>
        </div>
        <div class="nav text-decoration-none">
            <a href="/form">New Blog</a>
        </div>
    </div>
</div>