<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
</head>
<body>
    
    <nav>
        <a style="text-decoration: none; color: aqua; padding: 20px; margin: 20px;" href="/" >Home</a>
        <a style="text-decoration: none; color: aqua; padding: 20px; margin: 20px;" href="/about" >About</a>
        <a style="text-decoration: none; color: aqua; padding: 20px; margin: 20px;" href="/blog" >Blog</a>
    </nav>

    <h1>
        404 Page not Found
    </h1>
    
</body>
</html>