<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>


<body class="my-3 mx-3" >
    
    <%- include('./partials/navBar.ejs') %>
        
    <P><% const newDate = new Date() %></P>
    <h1>
        Home Page Here 
    </h1>
    <p><%=newDate%></p>
    <h2 >Wassup</h2>
    <%- include('./partials/Footer.ejs') %>
</body>
</html>